<aside class='col col-lg-3'>
	<header>
		<img src="img/logo.png" alt='Белорусские физические олимпиады'/>
		<h1>Белорусские<br>физические<br>олимпиады</h1>
	</header>
	<nav>
    	<ul class="nav">
            <% Year.years.each do |year| %>
			<%= erb :year_menu, {}, { year: year } %>

			<% end %>
        </ul>
	</nav>
</aside>	