<div class="container row">
	<div class='col flash'>
		<header>
			<img src="img/logo.png" alt='Белорусские физические олимпиады'/>
			<h1>Белорусские физические олимпиады</h1>
		</header>
	</div>
	<%= erb :aside %>
	<%= erb :main %>
</div>