		<footer class="row container">
				<div class="col col-lg-3">
					<div class="footer-left">
						<p>
							<small>
								© <strong>Белорусские физические олимпиады</strong>, &nbsp&nbsp&nbsp 1990-<%= Time.now.year %><br>
							</small>
						</p>
					</div>
				</div>
				<div class="col col-lg-6">
					<div class="footer-middle">
						<p>
							<small>
								Все права принадлежат авторам.<br>
								Коммерческое использование материалов — с письменного разрешения авторов.<br>
								<i>E = mc<sup>2</sup></i>.
							</small>
						</p>
					</div>
				</div>
				<div class="col col-lg-3">
					<div class="footer-right">
						<div class="pull-right">
						</div>
					</div>
				</div>
	    </footer>
