		<footer class="row container">
				<div class="col col-lg-3">
					<div class="footer-left">
						<p>
							<small>
								© <strong>Белорусские физические олимпиады</strong>, &nbsp&nbsp&nbsp 1990-<%= Time.now.year %><br>
							</small>
						</p>
					</div>
				</div>
				<div class="col col-lg-6">
					<div class="footer-middle">
						<p>
							<small>
								Все права принадлежат авторам.<br>
								Коммерческое использование материалов — с письменного разрешения авторов.<br>
								<i>E = mc<sup>2</sup></i>.
							</small>
						</p>
					</div>
				</div>
				<div class="col col-lg-3">
					<div class="footer-right">
						<div class="pull-right">
							<a target="_top" href="http://www.akavita.by/">
	              <script language="javascript"><!--
	              d=document;w=window;n=navigator;d.cookie="cc=1";
	              r=''+escape(d.referrer);js=10;c=(d.cookie)?1:0;j=0;
	              x=Math.random();u=''+escape(w.location.href);lt=0;
	              h=history.length;t=new Date;f=(self!=top)?1:0;cd=0;
	              tz=t.getTimezoneOffset();cpu=n.cpuClass;ww=wh=ss=0;
	              //--></script><script language="javascript1.1"><!--
	              js=11;j=(n.javaEnabled()?1:0);
	              //--></script><script language="javascript1.2"><!--
	              js=12;lt=1;s=screen;ss=s.width;
	              cd=(s.colorDepth?s.colorDepth:s.pixelDepth);
	              //--></script><script language="javascript1.3"><!--
	              js=13;wh=w.innerHeight;ww=w.innerWidth;
	              wh=(wh?wh:d.documentElement.offsetHeight);
	              ww=(ww?ww:d.documentElement.offsetWidth);
	              //--></script><script language="javascript"><!--
	              q='lik?id=24278&d='+u+'&r='+r+'&h='+h+'&f='+f;
	              q+='&c='+c+'&tz='+tz+'&cpu='+cpu+'&js='+js+'&wh='+wh;
	              q+='&ww='+ww+'&ss='+ss+'&cd='+cd+'&j='+j+'&x='+x;
	              d.write('<img src="http://adlik.akavita.com/bin/'+
	              q+'" alt="Akavita: каталог, рейтинг, счетчик для сайтов Беларуси" '+
	              'border=0 width=88 height=31>');
	              if(lt){d.write('<'+'!-- ');}//--></script><img src="http://adlik.akavita.com/bin/lik?id=24278&amp;d=http%3A//belpho.org/honour/&amp;r=http%3A//belpho.org/links/&amp;h=14&amp;f=0&amp;c=1&amp;tz=-240&amp;cpu=undefined&amp;js=13&amp;wh=624&amp;ww=1366&amp;ss=1366&amp;cd=32&amp;j=1&amp;x=0.8534479779191315" alt="Akavita: каталог, рейтинг, счетчик для сайтов Беларуси" border="0" width="88" height="31"><!-- <noscript>
	              <img src="http://adlik.akavita.com/bin/lik?id=24278"
	              border=0 height=31 width=88 alt="Akavita: каталог, рейтинг, счетчик для сайтов Беларуси">
	              </noscript><script language="JavaScript"><!--
	              if(lt){d.write('--'+'>');}//--></a>
						</div>
					</div>
				</div>
	    </footer>
