<div id='main' class="col col-lg-9">
	<div class='row'>
		<div class='col caption'>
			<h2>Задачи и решения</h2>
		</div>
	</div>

<% Year.years.each_with_index do |year, index| %>
<%= erb :year, {}, { year: year, index: index } %>

<% end %>
				<a href="#" class="back-to-top">
	        		&uarr; наверх
	      		</a>
</div>