<%= year.year %>
<ul>
  <li>
    <%= erb :etap, {}, { etap: year.etaps['final'], which: 'final' } %>
  </li>
  <% if year.etaps['third'] %>
      <li>
        <%= erb :etap, {}, { etap: year.etaps['third'], which: 'third' } %>
      </li>
  <% end %>
</ul>