body {
    background: #f5f5f5;
}

.container,
footer
{
    position: relative;
    background: #fff;
}

.container {
    padding: 30px 0 30px 0; 
}
	aside.col.col-lg-3 {
		text-align: center;
		position: static;
	}

	#main {
		position: relative;
	}

footer {
    margin-top: 5px;
}	
  header {
      padding: 41px 0 40px 0;
      margin: 40px 0 40px 40px;
      width: 180px;
      -webkit-border-radius: 90px;
      -moz-border-radius: 100px;
      border-radius: 90px;
      text-align: center;
      background: #fff;
  }
    header h1 {
      text-align: left;
      left: 40px;
      margin: 0;
      padding: 9px 9px 0 9px;
      top: 323px;
      background: #3b59f2;
      position: absolute;
    }
  nav {
    margin: 0 auto;
    width: 200px;
  }

	nav.affix {
		top: 0;
	}
	nav.affix-bottom {
		position: absolute;
		bottom: 0;
	}

  .back-to-top {
    display: block;
    float: left;
    padding: 7px 15px;
    font-weight: 500;
    color: #999;
    background-color: #eee;
    border-radius: 4px;
  }


  .back-to-top.affix {
    position: fixed;
    z-index: 200;
    right:  15px;
    bottom: 15px;
  }

  .back-to-top:hover {
    color: #fff;
    text-decoration: none;
    background-color: #999;
  }
#main .col-lg-10 {
  margin-bottom: 30px;
  padding-bottom: 20px;
  border-top: 1px dotted #777;
}
#main h3 {
  margin-bottom: 30px;
}

#main h2, #main h3 {
  margin-left: -15px;
} 
#main .col {
  margin-left: -30px;
  margin-bottom: 40px;
}
#main .col.caption {
  margin-bottom: 10px;
}
.nav > li > a {
  padding: 5px 0;
  font-size: 16px;
  text-align: center;
  font-weight: bold;
  color: #333;
  text-transform: uppercase;
}
.flash {
  background: url(../img/flash.jpg);
  margin: -30px 0 40px 0;
  height: 350px;
}
aside {
  padding-top: 20px;
}
hr {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: none;
    height: 6px;
    margin-left: -30px;
  }
.even hr {
  background: #82d120;
}
.odd hr {
  background: #3b59f2;
}